<mat-toolbar style="background-color: #3f51b5; width:100%; text-align: center;">
  <span class="header-view"><strong>Airwatch Admin Console</strong></span>
</mat-toolbar>
<br>
<mat-card class="example-card" style="margin-left:22%;height:150px">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field>
  </form>
</mat-card>
<br>
<mat-card class="example-card" style="margin-left:22%;height:300px;">
  <mat-card-header>
    <mat-card-title>List of Devices Table Space</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>This card is supposed to contain a table showing list of devices with their ID's, operating systems and versions.</p>
  </mat-card-content>
</mat-card>



<mat-sidenav-container class="docs-component-viewer-sidenav-container mat-drawer-container mat-sidenav-container">
  <div class="mat-drawer-backdrop"></div>
  <div tabindex="-1" class="cdk-visually-hidden cdk-focus-trap-anchor"></div>
  <mat-sidenav class="docs-component-viewer-sidenav mat-drawer mat-sidenav ng-tns-c11-1 ng-trigger ng-trigger-transform mat-drawer-side" tabindex="-1" style="transform: translate3d(0px, 0px, 0px); background-color:whitesmoke ;margin-top:5% ;visibility: visible;">
  <!----><nav>
    <button mat-raised-button class="menu-button-head">Admin Menu</button><br>
  <!--<ul>
    <li>
    <a class= list-view-style>
      Device List
    </a>
  </li><li>
    <a class= list-view-style href="/components/checkbox">
      User Groups List
    </a>
  </li><li>
    <a class= list-view-style href="/components/datepicker">
      Device Users List
    </a>
  </li><li>
    <a class= list-view-style href="/components/form-field">
      Miscellaneous
    </a>
  </li><li>
    <a class= list-view-style href="/components/input">
      Airwatch Help
    </a>
  </ul>-->
    <button mat-raised-button class="menu-button-view">Device List</button><br>
    <button mat-raised-button class="menu-button-view">User Groups</button><br>
    <button mat-raised-button class="menu-button-view">Device Users</button><br>
    <button mat-raised-button class="menu-button-view">Miscellaneous</button><br>
    <button mat-raised-button class="menu-button-view">Airwatch Help</button><br>
</nav>
</mat-sidenav>
